<div class="para-div">
    
    <h4 class="font-style header-clr">Illegal Movement Survey</h4>
    <p class="font-style para-font-size para-size">
        Tracking illegal movements on the road such as traffic violations, parking in a no-parking zone, and unloading goods in
        a non-loading zone and so on is enabled through illegal movement surveys. These surveys are extremely helpful in traffic
        management and collating data on traffic offenders .
        </p>
        <img src='./assets/img/illegal_img.jpg' alt="illegal_img " class='imgwidth'>

</div>