<div class="para-div">
    
    <h4 class="font-style header-clr">Queue Length Surveys </h4>
    <p class="font-style para-font-size para-size">
        HighTech Traffic Solution provides lane wise queue length traffic data. Our traffic data report includes minimum,
        maximum & sport queue lengths. Queues are measured either in vehicles/PCU’s or distance from junction and can be
        recorded at various intervals.
        </p>
        <img src='./assets/img/Queue_Length.jpeg' alt="Queue_Length " class='imgwidth'>

</div>