<div class="para-div">
    
    <h4 class="font-style header-clr">Parking Surveys</h4>
    <p class="font-style para-font-size para-size">
        HighTech Traffic Solution process video and extracts parking surveys traffic data including simple car park accumulation
        surveys to more detailed duration of stay surveys. Results can be tailored to meet client’s specific requirements.
        </p>
        <img src='./assets/img/parking_service.jpeg' alt="parking_service " class='imgwidth'>

</div>