<div class="para-div">
    
    <h4 class="font-style header-clr">Pedestrian and Cyclist Counts </h4>
    <p class="font-style para-font-size para-size">
        HTTS provides bi-directional volume data for sidewalks, paths, retail locations entry/exit. Pedestrian classifications
        include minor, adult, elderly, mobility impaired etc., Call times for pedestrian crossings data can also be provided!
        </p>
        <img src='./assets/img/cyclic_and_peds_count.png' alt="cyclic_and_peds_count " class='imgwidth'>

</div>