<div class='para-div'>
    <h4 class="font-style header-clr">Automatic Number Plate Recognition</h4>
  <p class="font-style para-font-size para-size">
    HTTA’s ANPR (Automatic Number Plate Recognition) traffic data report provides information about vehicle classification
    type, registration/plate number, direction of travel, livery, time stamp etc., ANPR also refers to ALPR (Automatic
    License Plate Recognition).
      </p>
      <img src="./assets/img/ANPR.jpeg"  alt="ANPR image" class="imgwidth">
    </div>