<div class="para-div">
    
    <h4 class="font-style header-clr">Bus Punctuality Surveys</h4>
    <p class="font-style para-font-size para-size">
        Punctuality surveys enable passengers to rate the commute or journey on the basis of various parameters. These include
        the time taken waiting for the bus, their satisfaction with the overall journey and their view of whether they received
        value for money.
        </p>
        <img src='./assets/img/BusTerminals.jpeg' alt="Busterminal " class='imgwidth'>

</div>