<div class='para-div'>
    <h4 class="font-style header-clr">Contact Info</h4>
    <p class="font-style para-font-size para-size">
        Email: <a href="https://mail.google.com/mail/u/0/#inbox" target="_blank"> trafficdatasolution@gmail.com </a>
        </p>
        <p class="font-style para-font-size para-size">
            LinkedIn:<a  target="_blank" href="https://www.linkedin.com/in/hightech-traffic-solution-htts-6a06061b2/
            ">  https://www.linkedin.com/in/hightech-traffic-solution-htts-6a06061b2/
       </a>
            </p>
    
    
    </div>