<div class='p-traffic'>
  <nav class="navbar navbar-expand-lg navbar-dark theme">
      <a class="navbar-brand" href="#"><img class='logo' src="./assets/img/logo.jpg"></a>
      <button class="navbar-toggler" (click)="mobileNavOpen()" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link " href="#"><span class="words-over font-style nav-font-size" > Home</span> <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item show">
            <a class="nav-link words-over" href="#"><span class="words-over nav-font-size font-style "> Demos</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle words-over active nav-font-size font-style " #dropdown (click)='dropDownClick()' id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Service
            </a>
            <div class="dropdown-menu"  aria-labelledby="navbarDropdown">
              <a class="dropdown-item words-over font-style" href="#">Interaction Counts</a>
              <a class="dropdown-item words-over font-style" href="#">Pedestrian Counts</a>
              <a class="dropdown-item words-over font-style" href="#">Bus Terminal</a>
              <a class="dropdown-item words-over font-style" href="#">Parking Surveys</a>
              <a class="dropdown-item words-over font-style" href="#">Queue Length Surveys</a>
              <a class="dropdown-item words-over font-style" href="#">Anpr</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item words-over font-style" href="#">Customized Counts</a>
            </div>
          </li>
        </ul>
          <div>
          <a href='' > <img  src="./assets/img/Twitter.png" class="socialm-icon"></a>
          <a href='' > <img  src="./assets/img/Facebook.png" class="socialm-icon"></a>
          <a href='' > <img  src="./assets/img/Linkedin.png" class="socialm-icon"></a>
          </div>
        <form class="form-inline my-2 my-lg-0">
          <button class="btn btn-outline-success my-2 my-sm-0 button-color button-hover font-style " type="submit">Contact US</button>
        </form>
      </div>
    </nav>
    </div>
     <div class="para-div">
      <h4 class="header-clr">Traffic Intelligence</h4>
      <h5 class="header-clr" style="margin-top: 10px;">About </h5>
      <div style="margin-top: 15px;">
      <p class="font-style para-font-size lead" style="font-size: 20px">
      HighTech Traffic Solution(HTTS) is a Traffic Analysis company established in the year 2020. We are specialized in
      providing processing videos and turn into accurate traffic data. HTTS traffic Solution is a reliable service provider
      for many companies globally for Off-shore Traffic data. We are having experts who have a wide knowledge on various data
      analysis strategies and methodologies. HTTS use the industry’s most current and advanced technologies to provide
      accurate analysis. We provide cost effective solutions which satisfies customer needs. We prefer appropriate
      methodologies to provide accurate analysis based on customer’s requirement. For us clients are most important and we are
      flexible to provide quality service on time.</p>
      <p class="font-style para-font-size">
      We have expertise for providing Transportation Data analysis, Traffic Data Extraction, Manual Counts, ATC, ANPR, Bicylce
      & Ped Counts, Origin & Destination Survey, Roundabout Counts, Turning Movement Counts, Bus and Rail Punctuality Study,
      Link Counts, etc... We bring in the latest technologies for delivering accurate traffic data at International standards
      for the Indian road conditions.
      </p>
      
      </div>
      </div>
      