<div class="para-div">
    <h4 class="header-clr">Traffic Intelligence</h4>
    <h5 class="header-clr" style="margin-top: 10px;">About </h5>
    <div style="margin-top: 15px;">
    <p class="font-style para-font-size lead para-size">
    HighTech Traffic Solution(HTTS) is a Traffic Analysis company established in the year 2020. We are specialized in
    providing processing videos and turn into accurate traffic data. HTTS traffic Solution is a reliable service provider
    for many companies globally for Off-shore Traffic data. We are having experts who have a wide knowledge on various data
    analysis strategies and methodologies. HTTS use the industry’s most current and advanced technologies to provide
    accurate analysis. We provide cost effective solutions which satisfies customer needs. We prefer appropriate
    methodologies to provide accurate analysis based on customer’s requirement. For us clients are most important and we are
    flexible to provide quality service on time.</p>
    <p class="font-style para-font-size para-size">
    We have expertise for providing Transportation Data analysis, Traffic Data Extraction, Manual Counts, ATC, ANPR, Bicylce
    & Ped Counts, Origin & Destination Survey, Roundabout Counts, Turning Movement Counts, Bus and Rail Punctuality Study,
    Link Counts, etc... We bring in the latest technologies for delivering accurate traffic data at International standards
    for the Indian road conditions.
    </p>
    
    </div>
    </div>
    