<div class="para-div">
    
    <h4 class="font-style header-clr">Intersection Counts</h4>
    <p class="font-style para-font-size para-size">
        HTTS’s intersection count reports on directional volume of traffic as it moves through a signalized or non-signalized
        junction. Also called a turning movement count (TMC). Our intersection count study tabulates number of left-turn,
        right-turn, u-turn and through movements for each approach.
        </p>
        <img src='./assets/img/Interaction.jpeg' alt="Interaction " class='imgwidth'>

</div>